{% extends 'dashboard/dashboardmaster.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<section>
 
    <div class="container">
        <div class="row">
            <h2>Add resort</h2>
            
            <form action="/addresort" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3 mt-3">
                  
                  </div>
             
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="name" class="form-label">brand name</label>
                <input type="text" class="form-control" id="name" placeholder="brand name" name="brand_name">
            </div>
            </div>
            <div class="row">
            <div class="col-md-6">
                <label for="name" class="form-label">resort name</label>
                <input type="text" class="form-control" id="name" placeholder="resort name" name="resort_name">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 mt-3">
                <label for="file" class="form-label">room image</label>
                <input type="file" class="form-control" id="image" placeholder="room image" name="room_image">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="name" class="form-label">place</label>
                <input type="text" class="form-control" id="name" placeholder="place" name="place_name">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="name" class="form-label">type name</label>
                <input type="text" class="form-control" id="name" placeholder="type name" name="type_name">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="name" class="form-label">type name</label>
                <select class="form-select" name="cat_name">
                    <option>premium class</option>
                    <option>budget class</option>
                    
                  </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    </div>
 
</section>
{% endblock %}